html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/img/03.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color: #24355C;
}

h2{
    color: rgb(247, 8, 8);
    font-style: italic;
    word-spacing: 10px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body {
    background-color: rgba(85, 165, 82, 0.781);
    text-align: center;

}
p{
    color: rgb(110, 8, 8);
    font-style: italic;
    font-size: larger;
    word-spacing: 10px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    text-align:center;
}
